@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.footer {
  width: 100%;
  padding: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: $border;
  border-radius: 10px 10px 0 0;
  z-index: 10;
  .productsList {
    display: none;
  }

  .products {
    font-size: $paragraph;
    text-decoration: none;
    text-align: center;
    line-height: 1rem;
    border: none;
    border-radius: 20px;
    padding: 5px;
    height: 35px;
    cursor: pointer;
    background-color: $background-buttom-primary-active ;
    color: $text-secondary;
    &:hover {
      transform: scale(1.02);
    }
  }

  .disabled {
    background-color: $background-buttom-primary-desable;
  }
}


.active {
  background-color: $background-quaternary;
  color: $text-secondary
}

.expanded {
  position: absolute;
  bottom: 0;
  height: 85vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $color-sixth;
  color: $text-primary;

  .productsList {
    display: block;

    .icon {
      height: 60px;
      width: 60px;
    }

    .arrow { 
      position: absolute;
      right: 20px;
      top: 15px;
      height: 24px;
      width: 24px;
      z-index: 999;
    }
  }

}