@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.footer {
  background-color: #fefefe;
  width: 100%;
  padding: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: $border;
  border-radius: 10px 10px 0 0;
  z-index: 10;
  overflow-y: hidden;
  .productsList {
    display: none;
  }

  .products {
    font-size: $paragraph;
    text-decoration: none;
    text-align: center;
    line-height: 1rem;
    border: none;
    border-radius: 20px;
    padding: 5px;
    height: 35px;
    cursor: pointer;
    background-color: $background-buttom-primary-active;
    color: $text-secondary;
    &:hover {
      transform: scale(1.02);
    }
  }
  .disabled {
    background-color: $background-buttom-primary-desable;
  }

}

.red {
  animation-name: redStyle;
  animation-duration: 1.5s;
}

@keyframes redStyle {
  0% {
    background-color: $color-seventh;
  }

  50% {
    background-color: $color-primary;
    color: $text-secondary;
  }

  100% {
    background-color: $color-seventh;
    color: $text-primary;
  }
}

.expanded {
  position: absolute;
  bottom: 0;
  height: 85%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $color-sixth;
  color: $text-primary;

  .productsList {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
    width: 100%;

    .scrollContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      margin-top: 10px;
    }

    .bottomContent {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .icon {
      height: 60px;
      width: 60px;
    }

    .arrow {
      position: absolute;
      right: 20px;
      top: 15px;
      height: 24px;
      width: 24px;
      z-index: 999;
    }
  }

  .payButton {
    width: 100%;
    background-color: $background-buttom-primary-active;
    font-size: $line-text;
    border-radius: $border-primary-radius;
    height: 41px;
    color: $text-secondary;
    border: none;
    margin-top: auto;
  }

  .disabled {
    display: none;
  }

  @media screen and (min-height: 690px) {
    .payButton {
      height: 61px;
      font-size: $title;
    }
  }
}
