@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.footer {
  width: 100%;
  padding: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  border: $border;
  border-radius: 10px 10px 0 0;
  z-index: 10;

  .seeProducts {
    font-size: $paragraph;
    text-decoration: none;
    text-align: center;
    line-height: 1rem;
    border: $border;
    border-radius: 20px;
    padding: 4px;
    height: 35px;
    cursor: pointer;
    background-color: $background-buttom-primary-active;
    color: $text-secondary;
    &:hover {
      transform: scale(1.02);
    }
  }
}
