@import "../../../scss/typography.scss";

.subTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Mabry Pro', sans-serif;
  font-size: $title;
  text-align: center;
  z-index: 4;
  margin: 0;

  @media screen and (min-width: 750px) {
    font-size: $title;
  }
}

.left {
  justify-content: flex-start;
}

.bold {
  font-weight: bold;
}