@import "../../../scss/typography.scss";
@import "../../../scss/colors.scss";

.subTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Mabry Pro', sans-serif;
  font-size: $line-text;
  text-align: center;
  font-weight: 400;
  z-index: 4;
  margin: 0;

  @media screen and (min-width: 750px) {
    font-size: $title;
  }
  @media screen and (min-height: 690px) {
    font-size: $title;
   }
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.bold {
  font-weight: bold;
}

.secundary {
  color: $text-secondary; 
}

.review {
  color: #49ff71
}

.noLineheight {
  line-height: unset;
}