@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.navBar {
  //? estilos para mostrar navbar en home
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  height: 50px;
  background-color: $background-desable;
  padding: 0 21px;
  z-index: 6;

  .icon {
    height: 20px;
    width: 20px;
  }
  
  .ordersButton{
    position: absolute;
    width: auto;
    height: 30px;
    font-size: 12px;
    border-radius: $border-primary-radius;
    border: none;
    background-color: $color-primary;
    padding: 0 8px;
    margin: 0 auto;
    top: 25px;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
  }
  .infoContainer {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .pfActive,
    .lgActive {
      background-color: $color-primary;
    }

    .lgActive {
      border: 1px solid black;
    }

    .pfIcon {
      border-radius: 50%;
    }

    .pfIcon,
    .lang {
      position: relative;
      margin: 5px;
    }

    .userContainer,
    .langsContainer {
      visibility: hidden;
    }

    .userContainer {
      position: absolute;
      top: 52px;
      right: 72px;
      width: 190px;
      background-color: $background-secundary;
      box-shadow: 1px 4px 10px -4px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 1px 4px 10px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 4px 10px -4px rgba(0, 0, 0, 0.75);
      z-index: 999;
      .userInfo {
        height: auto;
        display: flex;
        justify-content: center;
        gap: 2px;
        padding: 10px;
      }

      .logOutContainer {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        padding-bottom: 0;

        .iconDisabled {
          color: $color-nineth;
        }
      }
      .disabled {
        color: $color-nineth;
      }
    }

    .lang {
      position: relative;
      width: 38px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-primary-radius;
    }

    .langsContainer {
      position: absolute;
      bottom: -135px;
      width: 96px;
      height: auto;
      overflow-y: scroll;
      right: 0px;
      background-color: $background-secundary;
      box-shadow: 1px 4px 10px -4px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 1px 4px 10px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 4px 10px -4px rgba(0, 0, 0, 0.75);
      z-index: 9999;

      .langOption {
        padding: 5px;
      }

      .highlight {
        background-color: $color-primary;
      }
    }
    .visible {
      visibility: visible;
    }
  }

  @media screen and (min-height:690px) {
    height: 60px;
    .icon {
    height: 24px;
    width: 24px;
    }

    .ordersButton {
      top: 30px
    }
  }
}

.spaceBetween {
  justify-content: space-between;
}