@import "../../../scss/colors.scss";

.banner {
  width: 90%;
  height: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40%;
  color: $text-secondary;
  z-index: 1;
  margin: 0 auto;
  margin-top: 10px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: auto;
    color: $text-secondary;
    height: 100%;
    padding: 10px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $border-secondary-radius;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 4%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
    }
  }

   @media screen and (min-width: 430px) {
    height: 100px;

    .content{
      &:before{
        border-radius: $border-primary-radius;
      }
    }
   }

   @media screen and (min-width: 750px) {
    height: 130px;
   }
}
