@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.paragraph {
  display: flex;
  justify-content: center;
  font-size: $line-text;
  margin: 4px 0;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: $line-text;
  max-height: 60px;
  z-index: 4;
  @media screen and (min-width: 430px) {
    font-size: $paragraph;
  }
  @media screen and (min-width: 750px) {
    font-size: $line-text;
  }
}

.bold {
  font-weight: bold;
}

.centered {
  margin: 0 auto;
}

.secundary {
  color: $text-secondary
}

.left {
  text-align: left;
  justify-content: left;
}

.right {
  text-align: right;
  justify-content: right;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar {
  overflow-y: scroll;
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable {
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.align {
  align-items: center;
}

.disabled {
  color: $color-nineth
}

.gap {
  gap: 10px
}

.noMargin {
  margin: 0;
}