@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.searchField {
  width: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  // width: 40%;
  height: 25px;
  color: $text-primary;
  font-size: $paragraph;
  font-family: "Arial", sans-serif;
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &::-webkit-input-placeholder {
    text-align: center;
  }

  &:-moz-placeholder {
    text-align: center;
  }

  @media screen and (min-width: 430px) {
    font-size: $paragraph;
    height: 30px;
  }

  @media screen and (min-width: 750px) {
    font-size: $line-text;
    height: 35px;
  }
}
