@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.searchField {
  width: 35%;
  height: 25px;
  color: $text-primary;
  font-size: $paragraph;
  display: inline-block;
  outline: none;
  border:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
  &::-webkit-input-placeholder {
  text-align: center;
}

&:-moz-placeholder {
  text-align: center;
}

  @media screen and (min-width: 430px) {
    font-size:$paragraph;
    height: 30px;
  }

  @media screen and (min-width: 750px) {
    font-size:$line-text;
    height: 35px;
  }
}