@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.reviewContainer{
  position:fixed;
  background-color: $color-sixth;
  height: 100%;
  width: 100%;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  .reviewHeader {
   position: relative;
    background-color: $color-quaternary;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .progressBar {
      position: relative;
      display: flex;
      width: 100%;
      height: 120px;
      padding: 50px
    }
  }

  .logo {
    border-style: none;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    // margin-bottom: 36px;
    // margin-top: 55px;
  }

  .article {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 12px;
    height: 50%;
    padding-top: 16px;
    .textAreaHeader {
      display: flex;
      justify-content: space-between;
      margin: 0;
      height: auto;
      .label {
        font-size: $line-text;
        font-weight:bold;
      }

        .textLimit {
        display: inline;
        margin-left: auto;
        color: $color-nineth
      }
    }

    .buttonWrapper {
      margin: auto 0 15px 0;
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (min-height: 690px) {
    .reviewHeader {
      .logo {
        height: 108px;
        width: 108px;
      }
    }
  }

}

.reviewContainer::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}