@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.reviewContainer {
  position: fixed;
  background-color: $color-sixth;
  height: 100%;
  width: 100%;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  .reviewHeader {
    position: relative;
    background-color: #f6f6f6;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .progressBar {
      position: relative;
      display: flex;
      width: 100%;
      height: 120px;
      padding: 50px;
    }

    .myOrdersLink {
      text-decoration: underline;
      color: #2b2b2b;
      margin-top: 8px;
    }
  }

  .reviewBox {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: #22c55e;
    width: 285px;
    height: 266px;
    margin-top: 15px;
    > h2 {
      margin-top: 15px;
    }
    > p {
      margin-top: 15px;
      font-size: 20px;
    }
  }
  .myOrdersLink{
    color: #2b2b2b;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > p {
      margin-top: 15px;
      text-decoration: none;
    }
    > a {
      margin-top: 30px;
      color: #000000;
    }
  }

  .logo {
    border-style: none;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    // margin-bottom: 36px;
    // margin-top: 55px;
  }

  .article {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 5px;
    height: 60%;
    // padding-top: 16px;
    .textAreaHeader {
      display: flex;
      justify-content: space-between;
      margin: 0;
      height: auto;
      .label {
        font-size: $line-text;
        font-weight: bold;
      }

      .textLimit {
        display: inline;
        margin-left: auto;
        color: $color-nineth;
      }
    }

    .buttonWrapper {
      margin: auto 0 15px 0;
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (min-height: 690px) {
    .reviewHeader {
      .logo {
        height: 108px;
        width: 108px;
      }

      .myOrdersLink {
        margin-top: 30px;
      }
    }

    .article {
      gap: 12px;
    }
  }
}

.reviewContainer::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
