@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.loginButton {
   font-size: $paragraph;
    text-decoration: none;
    text-align: center;
    line-height: 1rem;
    width: 100%;
    margin: 4px 0 5px 0;
    border-radius: 10px;
    border: $text-desable;
    height: 40px;
    cursor: pointer;
    background-color: $background-buttom-primary-desable;
    &:hover {
      transform: scale(1.02);
    }
  }
  
  .active {
    background-color: $background-buttom-primary-active;
   color: $text-secondary;
    border: $border;
}
