@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: inherit;
  width: 100%;
  padding: 10px;
  background-color: $color-seventh;
  border: $border;
  border-radius: $border-secondary-radius;
  font-size: $paragraph;
  margin-bottom: 5px;
  gap: 10px;
  
  .childContainer {
    display: inline-block;
    height: auto;
    margin: 0;
    text-align: left;
    font-weight: bold;
  }

  @media screen and (min-width: 430px) {
    font-size: $title;
    height: auto;
    border-radius: $border-primary-radius;
  }

  @media screen and (min-width: 750px) {
    height: 90px;
  }

  @media screen and (min-height: 690px) {
    margin-bottom: 10px;
    font-size: $line-text;
  }
}
