@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.contactFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 23px;
  width: 100%;
  margin-top: 10px;

  s.link {
    text-decoration: none;
  }
}