@import "../../../scss/colors.scss";

.paymentButton {
  display: flex;
  justify-content: space-between;
  // background-color: $color-sixth;
  
  height: 73px;
  width: 100%;
  margin: 5px 0;
  padding: 25px;

  .method {
    display: flex;
    justify-content: center;
    align-items: stretch;
    .logo {
      width: 35px;
      height: 27px;
      margin-right: 5px;
    }
  }
  .input {
    accent-color: #232323;
    height: 20px;
    width: 20px;
  }
}
