@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.orderInfo {
  // background-color: $color-sixth;
  display: flex;
  flex-direction: column;
  width: 100%;
  // padding: 15px 20px 15px 20px;
  // margin-top: 10px;
  margin-bottom: 5px;
  max-height: 400px;

  @media (max-height: 690px) {
    max-height: 230px;
  }
  @media (max-height: 600px) {
    max-height: 150px;
  }

  .paymentTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .productsContainer {
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 23px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
  }
}

// .border {
//   border: $border;
// }
