@import "../../../scss/typography.scss";

.hugeTitle {
  display: flex;
  align-items: center;
  font-family: 'Mabry Pro', sans-serif;
  font-size: $title;
  font-weight: bold;
  text-align: center;

  @media screen and (min-width: 430px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 750px) {
    font-size: $huge;
  }
}
