@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.mpButton {
  width: 90%;
  height: 41px;
  line-height: $title;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #00a8e7;
  border: none;
  font-size: $line-text;
  color: $text-secondary;
  border-radius: $border-primary-radius;
  margin-top: 84px;
  a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

  @media screen and (min-height: 690px) {
   font-size: $title;
   height: 61px; 
  }
}