@import "../../../scss/colors.scss";

.loadingPage{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-seventh;
  gap: 15px;
  .iMenuIcon {
    width: 60px;
    height: 35px;
    background-image: url("../../../assets/ImenuVertical.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

    @media screen and (min-width: 750px) {
      padding-top: 150px;
    }
}

.small {
  height: auto;
}