@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.mainContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: $background-quaternary;

  .optionsMainContainer {
    width: 100%;
    height: auto;
    margin-top: 250px;

  }
  .buttonWrapper {
    width: 90%;
    margin-top: auto;
    margin-bottom: 50px;
  }
}