@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.optionContainer {
      width: 90%;
    height: 85px;
    background-color: $background-secundary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: $border-primary-radius;
    border: $border;
    margin: 12.5px auto;
      
      .textContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }