@import "../../../scss/colors.scss";

.home {
  position: fixed;
  //nuevo
  display: flex;
  flex-direction: column;
  //nuevo
  color: $text-primary;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  background-color: $background-secundary;
  
  .top {
    margin: 0 auto;
    // padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-top: 50px;
    // min-height: calc(100% - 65px);
    //nuevo
    height: auto;
    flex: 1 1 auto;
    //nuevo
    .mainContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .spacing {
      .logo {
        border-radius: 25px;
        background-color: $color-eighth;
        // width: 280px;
        // height: 280px;
        width: 170px;
        height: 170px;
        margin: 5px;
      }
    }
  
  
    .span {
      letter-spacing: 0.4rem;
      margin-left: 10px;
      // color: #2b2b2b;
    }
  
    .imenuLogo {
    width: 22px;
    height: 20px;
      margin: 0 5px;
    }

    .bottomContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

  }

  @media screen and (min-width: 430px) {
    .spacing {
      margin-bottom: 40px;
    }
    .logo {
      width: 220px;
      height: 220px;
      margin: 10px;
    }
    
    .imenuLogo {
      width: 70px;
    }
  }
  
  @media screen and (min-height: 690px) {
    .top {
      padding-top: 40px;
      margin-top: 60px;
      .spacing {
        .logo {
          border-radius: 25px;
          background-color: $color-eighth;
          width: 280px;
          height: 280px;
          margin: 5px;
        }
      }
    }
  
  }
  @media screen and (min-width: 750px) {
    
    .spacing {
      margin-bottom: 50px;
    }

    .imenuLogo {
      width: 90px;
      height: 40px;
    }
    .logo {
      width: 280px;
      height: 280px;
      margin-bottom: 5px;
    }
  }


  
}
