@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.cartProduct {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-height: 160px;
  color: $text-primary;
  border-radius: $border-secondary-radius;
  background-color: $background-secundary;
  padding: 10px;
  margin: 5px auto;
  border: $border;

  .icon {
    height: 60px;
    width: 60px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 20px;
    justify-content: space-around;
    height: 100%;
    .amountControl {
      width: auto;
      max-width: 90px;
      display: flex;
      margin: 0;
      margin-left: auto;
      .amountIcon {
        width: 20px;
        height: 20px;
        display: inline-block;
        color: $text-primary;
        font-weight: bold;
      }
      .amount {
        width: 100px;
        margin: 0;
      }
    }
  }
}
